<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1> Champion Ratings</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-md-4">
    </div>
    <div class="col-xs-4 col-md-4">
      <%= form_for :user, url: login_url, html: {id: "loginform:"} do |f| %>
        <fieldset>
          <legend>Please sign in</legend>
          <div class="form-group">
            <%= flash.map {|key, value| "#{key.capitalize}: #{value}"}.join(";")%>
          </div>
          <div class="form-group">
            <%= f.label :email, class: "sr-only" %>
            <%= f.text_field :email, class: "form-control",placeholder: "Email address" %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "sr-only" %>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>

          <div class="form-group">
            <%= f.submit "Sign in", class: "btn btn-success" %>
          </div>
        </fieldset>
      <%end%>
    </div>
    <div class="col-xs-4 col-md-4">
    </div>
  </div>
</div>